<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/forumstyle.css">
<head>
    <meta charset="UTF-8">
    <title>Buhaiul Muribund</title>
</head>
<body>
<header>
    <h1 style="color:white">Bine ati venit la Buhaiul Muribund !
    Aici o sa invatati limbajul Buhaiului ! Acest limbaj consta in a buhaii o data pentru 1 si de doua ori pentru 0 iar deviza cestei comunitati este : "Nu esti doar Buhai ! Esti Buhai de Balta ! </h1>
</header>
<header>
   <textarea class="textAdd" cols="50" rows="10" placeholder="Add your content here !">
</textarea>
</header>
<header>
<button class="btn_style" type="submit">Sent</button>
</header>



</body>
</html>